### CLIENT ###

config/config.js

# Compiled output
public/dist
public/index.html

# Node.js and NPM
node_modules
npm-debug.log

### MOBILE CLIENT ###

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# BUCK
buck-out/
\.buckd/
android/keystores/debug.keystore

### SERVER ###

.env

/apps/auth/priv/keys
/apps/phoenix_interface/priv/keys
/priv/datomic/datomic-license.txt
/priv/datomic/datomic-pro*
/priv/datomic/zipfile-datomic-pro.zip

# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

