# rename this to .env and do:
# source .env
# to load these environment variables
export DATOMIC_DB="database"
export DATOMIC_USERNAME="datomic"
export DATOMIC_PASSWORD="datomic"
export SSL_KEYFILE="/etc/letsencrypt/live/example.com/privkey.pem"
export SSL_CERTFILE="/etc/letsencrypt/live/example.com/cert.pem"

